{% extends 'news/base.html' %}
{% load static %}

{% block title %} Jahon yangiliklari {% endblock title %}
{% block content %}



<div class="asil_container">

    <div class="asil_mini_container">
{% for jahon in jahon_list %}
        <div class="asil_box">
            <div class="asil_box_left">

                <a href="{{jahon.get_absolute_url}}"><img src="{{jahon.image.url}}" alt=""></a>
            </div>

<div class="asil_box_right">

    <span>{{jahon.published_date}}</span>
    <a href="{{jahon.get_absolute_url}}"><h1>{{jahon.title}}</h1></a>

</div>
            
        </div>
    {% endfor %}
    </div>

</div>



{% endblock content %}